<!-- Services Section -->
    <section id="education">

      <div class="container">
          <!-- Education Header -->
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Education</h2>
              </div>
          </div>

        <!-- Education Rows -->
        <div class="row text-center">
            <!-- UTSA -->
            <div class="col-lg-12" style="margin-top: 20px;">
                <img class="text-center" src="img/education/utsa-image.png" alt="">
                <h4 class="service-heading">UTSA B.S Computer Science</h4>
                <p class="text-muted text-center">
                  2018-2022 GPA 3.26<br>
                  Concentration in Software Engineering<br><br>
                  Courses included : <br>
                    - Advanced Software Engineering <br>
                    - Enterprise Software Engineering <br>
                    - Advanced Systems Programming <br>
                    - Data Science <br>
                    - Object Oriented Systems <br>
                    - Secure Software Development and Analysis
                </p>
            </div>
        </div>

      </div>

    

    </section>