<section id="resume" class="bg-light-gray">
  <div class="container">
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Resume</h2>
        </div>
    </div>

    <div class="row text-center">
      <button type="button" href="" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">View Resume</button>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <embed src="img/Resume/{{ site.resume }}" width="500px" height="900px" frameborder="0" type="application/pdf">
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>




