<!-- About Section -->
    <section id="workHistory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work History</h2>
                    <h3 class="section-subheading text-muted">Work Timeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        
                        <!-- Solugenix -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Solugenix 2020-2022</h4>
                                    <h4 class="subheading">IT Help Desk Technician</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In college I was an IT Technician for Solugenix. I was tasked with taking customer calls and providing troubleshooting assistance with their point of sales systems. </p>
                                    <br>
                                    <h6>Skills and Technologies</h6>
                                    <ul>
                                      <li>Microsoft SQL</li>
                                      <li>Windows Systems</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!-- Sogeti -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sogeti 07-18-2022 - 09-01-2023</h4>
                                    <h4 class="subheading">Application and Cloud Software Engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a software engineering consultant, I was given a variety of projects ranging from software architecting cloud microservices to Database administration to Powershell automation scripting</p>
                                    <br>
                                    <h6>Skills and Technologies</h6>
                                    <ul>
                                      <li>AWS (EC2, S3, Cloudformation, CloudWatch)</li>
                                      <li>Azure</li>
                                      <li>Java (SpringBoot)</li>
                                      <li>Powershell</li>
                                      <li>Python</li>
                                      <li>CMS (Content management Systems)</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>